@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	color: #5a5a5a;
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
}
.parallax-section {
	background-attachment: fixed!important;
}
.btn-capsul {
	border-radius: 30px;
}
.btn-aqua {
	background: #0297FF;
	color: #fff;
}
.btn-aqua:hover {
	background: #10629b;
	color: #fff;
}
.btn-dark-blue {
	background: #0C242E;
	color: #fff;
}
.btn-dark-blue:hover {
	background: #063d28;
	color: #fff;
}
.btn-transparent-white {
	border: 2px solid #fff;
	color: #fff;
}
.btn-transparent-white:hover, .btn-transparent-white:focus {
	background: #fff;
	color: #0297FF
}
.relative-box {
	position: relative
}
section {
	float: left;
	width: 100%;
	padding: 80px 0;
}
/* Loader
-------------------------------------------------- */

.loaders {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
}
.loaders .loader {
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 25%;
	max-width: 25%;
	height: 200px;
	align-items: center;
	justify-content: center;
}
.loader {
	display: table;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 1200;
}
.loader-bg {
	background: #0297FF;
}
.loader-inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.loader .ball-clip-rotate-pulse {
    left: 50%;
    position: absolute;
    top: 50%;
}
/* TOP HEADER
-------------------------------------------------- */


.navbar.top-bar {
	border-radius: 0;
	padding: 16px 0;
	z-index: 16;
}
.navbar-toggler {
	border: 1px solid #fff;
	color: #fff;
	position: absolute;
	right: 21px;
}
.sps {
	padding: 1em .5em;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.25s ease;
	width: 100%;
}
.sps--abv {
	background-color: transparent;
	color: #000;
}
.sps--blw {
	background-color: #fff;
	color: #fff;
}
.top-bar a.navbar-brand {
	color: #fff;
	font-size: 26px;
	font-weight: 800;
	padding: 5px 0 0 10px;
	text-transform: uppercase;
}
.sps--blw.top-bar a.navbar-brand {
	color: #000;
}
.top-bar a.navbar-brand span {
	color: #0297ff;
}
.top-bar .nav-link {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	padding: 12px 18px;
    margin-left: 20px;
}
.sps--blw.top-bar .nav-link {
	color: #000
}
.top-bar .navbar-nav .nav-item {
	margin: 0
}

.top-bar .navbar-collapse.show .navbar-nav .nav-item {
	background: rgb(12,36,46);
}
.top-bar .nav-link:hover, .top-bar .nav-item.active a {
	color: #fff;
	border-bottom: 2px solid #fff;
	border-radius: 0;
}
.sps--blw.top-bar .nav-link:hover, .sps--blw.top-bar .nav-item.active a {
	color: #0297ff;
	border-bottom: none;
	border-radius: 0;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/*Swiper*/
.swiper-container {
	width: 100%;
	height: 100vh;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.main-slider .slider-bg-position {
	background-size: cover!important;
	background-position: center center!important;
}
.main-slider .swiper-button-prev, .main-slider .swiper-button-next {
	background-image: none!important;
	color: #fff;
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}
.main-slider h2 {
	color: #fff;
	font-size: 54px;
	line-height: 59px;
	padding: 0 19%;
	text-transform: uppercase;
}
.main-slider .swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	background: rgba(255,255,255,0.9)
}
.main-slider .swiper-pagination-bullet-active {
	background: #0297ff
}
/* SIGN UP FORM
-------------------------------------------------- */
h1{
      font-family: comic sans ms;
    }
    .signup form{
       border: 1px solid black;
       width:400px;
       height:400px;
       margin-top: 0px;
       background-color: rgb(247, 247, 247);
       padding: 10px 20px 0px 20px;
       font-family: comic sans ms;
       font-size: 16px;
       font-weight: 500;
       box-sizing: border-box;
       line-height: 17px;
    }
    .signup input{
      width: 100%;
      height: 25px;
    }
    .signup .btn-primary{
        width: 100%;
        height: 32px;
        background-color: #1295C9;
        border-radius: 6px;
        cursor: pointer;
        color: white;
        font-family: comic sans ms;
        font-weight: bolder ;
        font-size: 16px;
    }
    .signup{
    	height: 400px;
    }

/* LOGIN FORM
-------------------------------------------------- */
.Login-sec {
	background:url('../13.jpeg') no-repeat center center;
	background-size: cover;
	color: #fff;
	position: relative;
}
.Login-sec:before {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(22,122,192,0.8);
	top: 0;
	left: 0;
}
.Login-sec form{
        border: 1px solid black;
        margin-top: 10px;
        width:350px;
        height:330px;
        background-color: rgb(247, 247, 247);
        padding: 10px 20px 20px 20px;
        font-family: comic sans ms;
        font-size: 16px;
        font-weight: 500;
        box-sizing: border-box;
        color: rgb(90, 90, 90);
        position: relative;
   }
    .Login-sec input{
      width: 100%;
      height: 25px;
   }
    .Login-sec .btn-primary{
        width: 100%;
        height: 32px;
        background-color: #1295C9;
        border-radius: 6px;
        touch-action: manipulation;
        cursor: pointer;
        color: white;
        font-family: comic sans ms;
        font-weight: bolder ;
        font-size: 16px;
    }

/* CATEGORY SECTION  (SHOP SECTION)
-------------------------------------------------- */
.Shop-sec .Category {
	text-align: center;
}
.Shop-sec .heading {
	float: left;
	width: 100%;
	margin-bottom: 70px;
}
.Shop-sec h2 {
	display: block;
	text-transform: capitalize;
	font-weight: 600;
	color: #0297FF;
	font-size: 32px;
}
.Shop-sec h2 small {
	color: #222;
	display: block;
	font-size: 22px;
	margin-bottom: 18px;
}
.Shop-sec h3 small {
	display: block;
	color: #0297FF;
	margin-bottom: 15px;
}
.Shop-sec h3 a {
	color: #333;
	font-size: 22px;
}
.Shop-sec h3 a:hover {
	color: #0297FF;
	text-decoration: none;
}
.Shop-sec .blog-image-block {
	margin-bottom: 40px;
}
.Shop-sec .blog-image-block img {
	border-radius: 5px;
}

/* ABOUT SECTION
-------------------------------------------------- */
.about-sec {
	background:url('../13.jpeg') no-repeat center center;
	background-size: cover;
	color: #fff;
	position: relative;
}
.about-sec:before {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(22,122,192,0.8);
	top: 0;
	left: 0;
}
.about-sec h2 {
	font-size: 55px;
	font-weight: 800;
	margin-top: 25%;
}
.about-sec h2 small {
	display: block;
	font-size: 24px;
	margin-bottom: 15px;
	padding-left: 10px;
}
.about-sec p {
	font-size: 16px;
}
#about{
      text-align: justify;
    }

/*-------------- Gallery section  --------------*/

.gallery-sec .heading {
	float: left;
	width: 100%;
	margin-bottom: 40px;
}
.gallery-sec h2 {
	display: block;
	text-transform: capitalize;
	font-weight: 600;
	color: #0297FF;
	font-size: 32px;
}
.gallery-sec h2 small {
	color: #222;
	display: block;
	font-size: 22px;
	margin-bottom: 18px;
}
.gallery-sec .gallery-thumb {
	position: relative;
	overflow: hidden;
	margin: 0;
}
.gallery-sec .gallery-thumb .gallery-overlay {
	background: #0297FF; /* fallback for old browsers */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.gallery-sec .gallery-thumb:hover .gallery-overlay {
	opacity: 0.9;
}
.gallery-sec .gallery-thumb .gallery-overlay .gallery-item {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.gallery-sec .gallery-thumb .fa {
	background: #ffffff;
	border-radius: 100%;
	font-size: 24px;
	color: #222;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
}
/*--------------filter css--------------*/
.filter-wrapper {
	width: 100%;
	margin-bottom: 42px;
	overflow: hidden;
}
.filter-wrapper li {
	display: inline-block;
	margin: 4px;
}
.filter-wrapper li a {
	color: #222;
	font-size: 18px;
	font-weight: 600;
	padding: 8px 17px;
	margin-right: 2px;
	margin-left: 2px;
	display: block;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-bottom: 2px solid #fff;
}
.filter-wrapper li a:hover, .filter-wrapper li a:focus {
	color: #0297FF;
	border-bottom: 2px solid #0297FF;
}
/*--------------isotope box css--------------*/
.iso-box-section {
	width: 100%;
}
.iso-box-wrapper {
	width: 100%;
	padding: 0;
	clear: both;
	position: relative;
}
.iso-box {
	position: relative;
	min-height: 50px;
	float: left;
	overflow: hidden;
	margin-bottom: 30px;
}
.iso-box > a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.fluid-img {
	width: 100%;
	display: block;
}
/* CALL TO ACTION
-------------------------------------------------- */
.cta-block {
	background: url("../img/cta-bg.jpg") repeat;
	padding: 30px 0;
	color: #fff;
	text-transform: capitalize
}
.cta-block h4 {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 28px;
}
.cta-block p {
	margin-bottom: 0;
	font-size: 18px;
}

/* FOOTER
-------------------------------------------------- */
footer {
	float: left;
	background: #0297FF;
	width: 100%;
	color: #fff;
	padding: 20px 0
}
footer ul {
	list-style: none;
	padding-left: 0
}
footer h2 {
	font-size: 20px;
	font-weight: 600;
}
footer li a {
	color: #fff;
	float: left;
	padding-bottom: 15px;
	width: 100%;
}
footer .copy-footer {
	border-top: 1px solid #fff;
	padding-top: 20px;
	margin-top: 10px;
}


 